.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.dashboard-title {
    color: #666666;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

#btnCrear, #btnAgregarSet, .btnAsignar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #027b8c;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.6rem;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}

    #btnCrear:hover, #btnAgregarSet:hover, .btnAsignar:hover {
        background-color: #025f6d;
        transform: translateY(-2px);
        box-shadow: 0px 4px 10px rgba(2, 123, 140, 0.4);
    }

    #btnCrear:active, #btnAgregarSet:active {
        transform: scale(0.98);
    }

    .btnAsignar:active {
        background-color: #025f6d !important;
    }

.material-icons {
    font-size: 24px;
}

.modal-header .material-icons {
    color: #027b8c;
}

/* General */
.container {
    font-family: 'Inter', sans-serif;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #ffffff; /* Blanco limpio */
    border-radius: 16px;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

/* Encabezado con gradiente */
.card-header {
    background: #027b8c; /* Azul degradado */
    color: white;
    padding: 1rem;
    border-radius: 16px 16px 0 0;
}

    .card-header .bi {
        opacity: 0.8;
    }

/* Cuerpo */
.card-body {
    padding: 1rem 1.5rem;
}

    .card-body p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        color: #6c757d;
    }

    .card-body h6 {
        margin-bottom: 0.8rem;
        font-weight: bold;
    }

    /* Ejercicios y sets */
    .card-body ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

        .card-body ul li {
            padding: 0.4rem 0;
            border-bottom: 1px solid #e9ecef;
        }

            .card-body ul li:last-child {
                border-bottom: none;
            }

.badge {
    font-size: 0.75rem;
    padding: 0.3em 0.6em;
    border-radius: 8px;
}

/* Footer */
.card-footer {
    padding: 0.8rem 1.5rem;
}

