<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    <main id="main" class="main">
        <div class="dashboard">
            <div class="module" id="rutinas">
                <span class="material-icons">fitness_center</span>
                <h2>Rutinas</h2>
                <p>Accede a las rutinas del gimnasio.</p>
                <button onclick="location.href='modulo_rutinas.html'">Ir a Rutinas</button>
            </div>
            <div class="module" id="clientes">
                <span class="material-icons">group</span>
                <h2>Clientes</h2>
                <p>Gestiona la información de los clientes.</p>
                <button onclick="location.href='modulo_clientes.html'">Ir a Clientes</button>
            </div>
            <div class="module" id="ejercicios">
                <span class="material-icons">directions_run</span>
                <h2>Ejercicios</h2>
                <p>Consulta y edita los ejercicios disponibles.</p>
                <button onclick="location.href='modulo_ejercicios.html'">Ir a Ejercicios</button>
            </div>
        </div>
    </main><!-- End #main -->
 

</body>

</html>