.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    max-width: 1200px;
    text-align: center;
}

.dashboard-title {
    color: #666666;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}



#agregarCategoria, .btnEditarEjercicio, #agregarEjercicio, #btnAgregar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #027b8c;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.6rem;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}

    #agregarCategoria:hover, .btnEditarEjercicio:hover, #agregarEjercicio:hover, #btnAgregar:hover {
        background-color: #025f6d;
        transform: translateY(-2px);
        box-shadow: 0px 4px 10px rgba(2, 123, 140, 0.4);
    }

    #agregarCategoria:active, .btnEditarEjercicio:active, #agregarEjercicio:active, #btnAgregar:active {
        transform: scale(0.98);
    }

.category-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    text-align: left;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    color: #666666;
}

.no-categories {
    color: #6c757d;
}

.material-icons {
    font-size: 24px;
}

.modal-header .material-icons {
    color: #027b8c;
}
/* Estilos Responsive */
@media (max-width: 768px) {
    .dashboard {
        width: 90%;
    }

    .dashboard-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .material-icons {
        font-size: 20px;
    }
}
